<div id="gameboardPage" x-data="alpineGameboard()" x-init="initPage()">
    <div>
        <h2>Gameboard<sub class="is-size-7 pl-1">red vs. blue exercises</sub></h2>
        <p>
            Monitor red-and-blue team operations during an exercise to see if blue can detect, respond, and
            shut down a red-team adversary.
        </p>
    </div>
    <hr>
    <div>
        <table class="table points-table is-fullwidth">
            <thead>
            <tr>
                <th colspan="2">
                    <div class="is-flex is-flex-direction-column is-align-items-center">
                        <div class="is-flex is-flex-direction-row">
                            <div><i class="fas fa-user pr-3 is-red-team is-size-2" alt="Red team"></i></div>
                            <div><h3 class="pl-1 is-size-3 is-red-team" alt="Red team" x-text="redOperation.points + ' points'"></h3></div>
                        </div>
                        <div class="select is-small">
                            <label for="red-op-select" class="is-hidden">Select a red operation</label>
                            <select id="red-op-select" x-model="redOperation.id" x-on:change="handleOperationChange">
                                <option value="">Select a red op</option>
                                <template x-for="op in redOps" :key="op.id">
                                    <option :value="op.id" x-text="op.name + ' - ' + op.start"></option>
                                </template>
                            </select>
                        </div>
                        <label x-bind:class="redOperation.state === 'running' ? 'has-text-success' : 'has-text-warning'"
                               class="is-size-6 m-2" for="red-op-select" x-text="redOperation.state"></label>
                    </div>
                </th>
                <th colspan="2">
                    <div class="is-flex is-flex-direction-column is-align-items-center">
                        <div class="is-flex is-flex-direction-row">
                            <div><i class="fas fa-user pr-3 is-blue-team is-size-2" alt="Blue team"></i></div>
                            <div><h3 class="pl-1 is-size-3 is-blue-team" alt="Blue team" x-text="blueOperation.points + ' points'"></h3>
                            </div>
                        </div>
                        <div class="select is-small">
                            <label for="blue-op-select" class="is-hidden">Select a blue operation</label>
                            <select id="blue-op-select" x-model="blueOperation.id" x-on:change="handleOperationChange">
                                <option value="">Select a blue op</option>
                                <template x-for="op in blueOps" :key="op.id">
                                    <option :value="op.id" x-text="op.name + ' - ' + op.start"></option>
                                </template>
                            </select>
                        </div>
                        <label x-bind:class="blueOperation.state === 'running' ? 'has-text-success' : 'has-text-warning'"
                               class="is-size-6 m-2" for="blue-op-select" x-text="blueOperation.state"></label>
                        <template x-if="exchanges.blue.length > 0">
                            <button x-on:click="openModal('Add External Detection', null)" class="button is-primary is-blue-team is-small mt-3">Add External Detection</button>
                        </template>
                    </div>
                </th>
                <td>
                    <div class="is-flex is-flex-direction-column is-align-items-center mb-3">
                        <h3>Stats</h3>
                        <table class="table stats-table">
                            <thead>
                            <tr>
                                <th></th>
                                <th><i class="fas fa-plus"></i></th>
                                <th><i class="fas fa-minus"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>True</th>
                                <td class="is-blue-team" x-text="stats.true_pos + '%'"></td>
                                <td class="is-blue-team">0%</td>
                            </tr>
                            <tr>
                                <th>False</th>
                                <td class="is-red-team" x-text="stats.false_pos + '%'"></td>
                                <td class="is-red-team" x-text="stats.false_neg + '%'"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class="ml-2 button is-primary is-small" x-on:click="openModal('Analytic')">
                                <i class="pr-1 fas fa-pencil-alt"></i>Custom Analytic
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </thead>
            <template x-if="exchanges.blue.length < 1 && exchanges.red.length < 1">
                <tbody>
                <tr><td colspan="4" class="is-italic has-text-centered">No exchanges to show.</td></tr>
                </tbody>
            </template>
            <template x-if="redOperation.id.length > 0 && blueOperation.id.length > 0 && exchanges.red && exchanges.blue">
                <tbody>
                <template x-for="(redOp, e_index) in exchanges.red" :key="'ex-'+e_index">
                    <tr class="m-2" x-bind:style="{'background-color': (exchanges.blue[e_index]?.points.value < redOp.points.value) ? '#bf15141c' : '#0014ff0d' }">
                        <td>
                            <div class="is-flex is-flex-direction-column is-align-items-center p-3">
                                <button x-on:click="openModal('Facts', redOp)" class="facts-link is-red-team" x-text="redOp.ability.name"></button>
                                <span class="has-text-grey-light" x-text="getHumanFriendlyTimeISO8601(redOp.finish)"></span>
                                <span class="is-italic has-text-grey-light" x-text="redOp.paw"></span>
                            </div>
                        </td>
                        <td class="is-size-2 is-red-team has-background-black" x-text="redOp.points.value"></td>
                        <td class="is-size-2 is-blue-team has-background-black" x-text="exchanges.blue[e_index]?.points.value"></td>
                        <td class="is-blue-team" x-text="exchanges.blue[e_index]?.points.reason"></td>
                    </tr>
                </template>
                </tbody>
            </template>
        </table>
    </div>

    <!--    MODAL-->
    <template x-if="modal.isOpen">
        <div class="modal is-active">
            <div class="modal-background" @click="modal.isOpen = false"></div>
            <div class="modal-card" x-data="{analytic: {name: '', query: ''}}">
                <header class="modal-card-head">
                    <p class="modal-card-title" x-text="modal.title"></p>
                </header>
                <section class="modal-card-body">
                    <template x-if="modal.title.includes('Analytic')">
                        <div>
                            <div class="modal-form">
                                <div>
                                    <label for="analytic-name">Analytic name</label>
                                    <div class="modal-form-fields">
                                        <input class="input is-small" id="analytic-name"
                                               x-model="analytic.name" required>
                                    </div>
                                </div>
                                <div>
                                    <label for="analytic-query">Query</label>
                                    <div class="modal-form-fields">
                                        <input class="input is-small" id="analytic-query"
                                               x-model="analytic.query" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template x-if="modal.title.includes('Detection')">
                        <div>
                            <div class="modal-form">
                                <div>
                                    <label for="host-select">Host</label>
                                    <div class="modal-form-fields">
                                        <div class="select is-small my-2 ml-3">
                                            <select id="host-select" x-model="selectedHost">
                                                <option value="" selected>Select a host</option>
                                                {% for host in hosts %}
                                                    <option value="{{ host }}">{{ host }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="tactic-select">Tactic</label>
                                    <div class="modal-form-fields">
                                        <div class="select is-small my-2 ml-3">
                                            <select id="tactic-select" x-model="selectedTactic" x-on:change="handleTacticChange()">
                                                <option value="" selected>Select a tactic</option>
                                                <template x-for="(tactic, index) in tactics" :key="'tactic'-index">
                                                    <option x-text="tactic"></option>
                                                </template>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="technique-select">Technique</label>
                                    <div class="modal-form-fields">
                                        <div class="select is-small my-2 ml-3">
                                            <select id="technique-select" x-model="selectedTechnique">
                                                <option value="" selected>Select a technique</option>
                                                <template x-for="(technique, index) in techniques" :key="'technique'-index">
                                                    <option x-text="technique[0] + ': ' + technique[1]"></option>
                                                </template>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="is-flex is-flex-direction-row is-justify-content-center is-align-items-center width-100">
                                    <label class="is-hidden" for="detection-id-input">Detect-by ID</label>
                                    <div class="toggleContainer mt-2 ml-6">
                                        <label for="toggleDetectionID">
                                            <span class="has-tooltip-multiline has-tooltip-right"
                                                  data-tooltip="In order to add a manual Sysmon GUID detection, a blue agent must have been running on the target system during the red operation.">pid</span>
                                        </label>
                                        <div class="toggleSwitch mx-2">
                                            <input type="checkbox"
                                                   id="toggleDetectionID"
                                                   x-model="detectByGuid"
                                                   x-bind:checked="Boolean(detectByGuid) ? 'checked' : null"/>
                                            <span class="toggleSlider toggleSliderRound"
                                                  title="Toggle between detection with guid and pid"
                                                  x-on:click="detectByGuid = (detectByGuid === 0 ? 1 : 0);"
                                                  x-bind:class="Boolean(detectByGuid) ? 'toggle-on' : 'toggle-off'">
                                                    <span x-bind:class="Boolean(detectByGuid) ? 'toggle-slider-on' : 'toggle-slider-off'"></span>
                                                </span>
                                        </div>
                                        <label for="toggleDetectionID">
                                            <span class="has-tooltip-multiline"
                                                  data-tooltip="In order to add a manual Sysmon GUID detection, a blue agent must have been running on the target system during the red operation.">guid</span>
                                        </label>
                                    </div>
                                    <div class="modal-form-fields">
                                        <input id="detection-id-input"
                                               class="mt-4 ml-4"
                                               x-model="detectionID">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template x-if="modal.title.includes('Facts') && modal.content">
                        <div>
                            <p x-text="modal.content.ability.name"></p>
                            <p class="is-italic" x-text="modal.content.ability.technique_id + ': ' + modal.content.ability.technique_name"></p>
                            <p class="is-italic" x-text="modal.content.points.value + ' points: ' + modal.content.points.reason "></p>
                            <p x-show="modal.content.command" x-text="'Command: '+ b64DecodeUnicode(modal.content.command)"></p>
                            <p x-show="modal.content.output" x-text="'Output: '+ modal.content.output"></p>
                            <template x-if="access === 'red'">
                                <p class="is-italic" x-show="modal.content.pid" x-text="'pid: '+ modal.content.pid"></p>
                                <p x-text="modal.content.facts.length > 0 ? modal.content.facts : 'No facts.'"></p>
                            </template>
                            <template x-if="access === 'blue'">
                                <p class="is-italic" x-show="modal.content.pin" x-text="'pin: '+ modal.content.pin"></p>
                            </template>
                        </div>
                    </template>
                </section>
                <footer class="modal-card-foot">
                    <nav class="level">
                        <div class="level-left">
                            <template x-if="!modal.title.includes('Facts')">
                                <div class="level-item">
                                    <button class="button is-small" @click="modal.isOpen = false">Cancel</button>
                                </div>
                            </template>
                            <template x-if="modal.title.includes('Facts')">
                                <div class="level-item">
                                    <button class="button is-small" @click="modal.isOpen = false">Close</button>
                                </div>
                            </template>
                        </div>
                        <div class="level-right">
                            <template x-if="access === 'red' && modal.title.includes('Facts')">
                                <button class="button is-small is-primary" @click="modal.isOpen = false; openModal('Analytic', null)">Create Analytic</button>
                            </template>
                            <template x-if="modal.title.includes('Analytic')">
                                <button class="button is-small is-primary" @click="createAnalytic(analytic)">Save</button>
                            </template>
                            <template x-if="modal.title.includes('Detection')">
                                <button class="button is-small is-primary" @click="handleSubmitDetection()">Submit</button>
                            </template>
                        </div>
                    </nav>
                </footer>
            </div>
        </div>
    </template>
</div>

<script>
    function alpineGameboard() {
        return {
            redOps: {{ red_ops | tojson }},
            blueOps: {{ blue_ops | tojson }},
            allTactics: {{ tactics | tojson }},
            redOperation: {
                id: '',
                state: '',
                points: 0
            },
            blueOperation: {
                id: '',
                state: '',
                points: 0
            },
            access: '',
            exchanges: {
                red: [],
                blue: []
            },
            modal: {
                isOpen: false,
                title: '',
                content: null,
            },
            stats: {
                true_pos: 0,
                false_pos: 0,
                false_neg: 0,
            },
            tactics: [],
            techniques: [],
            selectedHost: '',
            selectedTactic: '',
            selectedTechnique: '',
            detectByGuid: 1,
            detectionID: '',
            huntResults: '',

            initPage() {
                if (this.allTactics) this.tactics = Object.keys(this.allTactics);
            },
            handleOperationChange() {
                const render = (data) => {
                    this.resetTables();
                    this.redOperation.state = data.red_op_state;
                    this.blueOperation.state = data.blue_op_state;
                    this.redOperation.points = data.points[0];
                    this.blueOperation.points = data.points[1];
                    this.access = data.access;
                    if (data.exchanges[0] && data.exchanges[0].length > 1) {
                        this.exchanges.red = [];
                        this.exchanges.blue = [];
                        data.exchanges[0].forEach((e) => {
                            if (e.red) this.exchanges.red = this.exchanges.red.concat(e.red);
                            if (e.blue) this.exchanges.blue = this.exchanges.blue.concat(e.blue);
                        });
                        this.updateStats(this.exchanges);
                    }
                };
                restRequest('POST', { red: this.redOperation.id, blue: this.blueOperation.id }, render, '/plugin/gameboard/pieces');
            },
            handleTacticChange() {
                if (this.selectedTactic && this.selectedTactic in this.allTactics) this.techniques = this.allTactics[this.selectedTactic];
                else toast('No techniques available for this tactic.', false);
            },
            handleSubmitDetection() {
                const submitDetectionCallback = (data) => {
                    this.modal.isOpen = false;
                    if (data.verified != false) {
                        this.huntResults = `The information you entered matched correctly! Result:${data.message}`;
                        toast(this.huntResults, true);
                    } else {
                        this.huntResults = 'The information you entered did not match correctly.';
                        toast(this.huntResults, false);
                    }
                };
                restRequest('POST', {
                    host: this.selectedHost,
                    technique: this.selectedTechnique,
                    verify: this.detectByGuid ? 'guid' : 'pid',
                    info: this.detectionID,
                    redOpId: this.redOperation.id,
                    blueOpId: this.blueOperation.id,
                }, submitDetectionCallback, '/plugin/gameboard/detection');
            },
            resetTables() {
                this.exchanges = {
                    red: [],
                    blue: []
                };
                this.stats = {
                    true_pos: 0,
                    false_pos: 0,
                    false_neg: 0,
                };
            },
            openModal(title, data) {
                this.modal.title = title;
                if (data) this.modal.content = data;
                this.modal.isOpen = true;
            },
            updateStats(exchanges) {
                let T_P = 0;
                let F_P = 0;
                let F_N = 0;
                if (exchanges.red.length === 0) {
                    F_P += exchanges.blue.length;
                } else if (exchanges.blue.length === 0) {
                    F_N += exchanges.red.length;
                } else {
                    T_P += exchanges.blue.length;
                }
                let total = T_P + F_P + F_N;
                this.stats.true_pos = Math.round((T_P / total) * 100);
                this.stats.false_pos = Math.round((F_P / total) * 100);
                this.stats.false_neg = Math.round((F_N / total) * 100);
            },
            createAnalytic(analytic) {
                const handleAnalyticCallback = (data) => {
                    this.modal.isOpen = false;
                    toast('Custom analytic created; Operation started.', true);
                };
                restRequest('POST', analytic, handleAnalyticCallback, '/plugin/gameboard/analytic');
            }
        };
    }

    // # sourceURL=gameboard.js
</script>

<style>
    #gameboardPage .is-red-team {
        color: #BF1414;
    }

    #gameboardPage .is-blue-team {
        color: #4444D8;
    }

    #gameboardPage button.is-blue-team {
        background-color: #4444D8;
        color: white;
    }

    #gameboardPage .facts-link {
        line-height: 1.5em;
        border: none;
        background-color: transparent;
        font-size: 1em;
        text-decoration: underline;
    }

    #gameboardPage .facts-link:hover {
        cursor: pointer;
    }

    #gameboardPage .stats-table th, #gameboardPage .stats-table td {
        text-align: center;
    }

    #gameboardPage .points-table thead th {
        width: 40%;
        border-bottom: none;
    }

    #gameboardPage .points-table tr, #gameboardPage .points-table td {
        border: none;
    }

    #gameboardPage .points-table tr, #gameboardPage .points-table td {
        vertical-align: middle !important;
    }
</style>
